@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
	background: E9E9E9;
}

.card-text-hidden {
	display: block;
	display: -webkit-box;
	max-width: 400px;
	margin: 0 auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-additions {
	background: white;
	box-shadow: 0px 0px 0px grey;
	-webkit-transition: box-shadow 0.2s ease-out;
	box-shadow: 0.8px 0.9px 3px grey;
	/* min-width: 300px !important; */
	/* width: 25%; */
	overflow: hidden;
}

.card-additions:hover {
	box-shadow: 1px 8px 20px grey;
	-webkit-transition: box-shadow 0.2s ease-in;
}

.card-additions[data-isOpen='true'] {
	width: 100%;
}

.backgroundImageText {
	-webkit-background-clip: text;
	background-size: cover;
	background-clip: text;
	color: transparent;
	font-size: 10vh;
}

.label {
	color: white;
}
